{% extends './base.html' %}

{% block title %}Список автомобилей{% endblock %}

{% block content %}
<h1>Список автомобилей</h1>
<ul>
    {% for car in cars %}
        <li>
            <a href="{% url 'car_detail' car.id %}">
                {{ car.make }} {{ car.model }} ({{ car.year }})
            </a>
        </li>
    {% endfor %}
</ul>

{% if user.is_authenticated %}
    <a href="{% url 'car_create' %}">Добавить новый автомобиль</a>
{% else %}
    <p><a href="{% url 'login' %}">Войдите</a>, чтобы добавить автомобиль.</p>
{% endif %}
{% endblock %}
